// @import 'Application';

.header-logo{
    background: transparent url(bojack.jpg) no-repeat center center;
    background-color: $base-color;
    background-blend-mode: luminosity;
    background-size: cover;
    width: 200px;
    height: 100px;
}

@include toolbar-ui(
    $ui: 'nav',
    $background-color: $base-color,
    $title-font-size: 30px,
    $title-font-weight: 500
);

@include treelist-ui(
    $ui: 'nav',
    $background-color: #164e5ccb,
    $item-text-color: #ffffff,
    $item-icon-color: #ffffff,
    $row-selected-background-color: $base-color,
    $row-selected-over-background-color: #e1e1e1,
    $item-line-height: 80px,
    $item-text-font-size: 20px
);

// h1::after{
//     content: 'Application Developer';
//     clear: both;
//     font-size: 16px;
//     font-weight: 300;
// }

// h1{
//     margin: 0 auto;
// }